<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    @if (artists.length > 0) {
      <ion-list>
        <ion-item class="artists-item" *ngFor="let artist of artists">
          <ion-label>
            <h2>{{ artist.name }}</h2>
            <p>Listeners: {{ artist.listeners }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    }
  </div>
</ion-content>